.cat-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  color: #0c73c2 !important;
  cursor: pointer;
  :global {
    .text {
      display: inline-block;
      padding: 9px 10px 9px 0;
    }
  }
}