.recommend {
  :global {
    .content {
      display: flex;
      background-color: #fff;
      
      border: 1px solid #d3d3d3;
      .left {
        flex: 1;
        padding: 20px 20px 40px;
      }
      .right {
        width: 250px;
      }
    }
  }
}