.lyrics-bar {


  :global {
    .lyrics-bar-header {
      background-position: 0 0;
      height: 41px;
      padding: 0 5px
    }

    .lyrics-bar-content {
      position: absolute;
      left: 0;
      top: 41px;
      width: 976px;
      height: 260px;
      overflow: hidden;
      background-position: -1014px 0;
      background-repeat: repeat-y;
      padding: 0 5px;
      color: #ccc;
      display: flex;

      .content-left {
        height: 260px;
        width: 553px;
        overflow: hidden;
        padding: 10px 0;

        .song-item {
          display: flex;
          align-items: center;
          color: #666;
  
          .arrow {
            width: 20px;
            height: 28px;
          }

          .song-name {
            width: 256px;
            color: #ccc;
          }

          .singer-name {
            width: 70px;
            padding-right: 10px;
            height: 28px;
            line-height: 28px;
            
          }
        }
      }

      .content-right {
        flex: 1;
        background: #121212;
      }
     
    }
  }
}