.lyrics-bar {


  :global {
    .lyrics-bar-header {
      display: flex;
      justify-content:space-between;
      align-items: center;
      color: #fff;
      background-position: 0 0;
      height: 41px;
      padding: 0 25px;
      font-size:14px;

      .header-left {
        width: 523px;
        display: flex;
        justify-content: space-between;
        .header-opt {
          display: flex;
          font-size: 12px;
          color: #989898;
          .addall {
            display: flex;
            align-items: center;
            margin-right: 15px;
            cursor: pointer;
            .icon-addall {
              display: inline-block;
              width: 16px;
              height: 16px;
              background-position: -24px 0;
              margin-right: 5px;
            }
          }

          .clear {
            display: flex;
            align-items: center;
            cursor: pointer;
            .icon-clearall {
              display: inline-block;
              width: 13px;
              height: 16px;
              background-position: -51px 0;
              vertical-align: middle;
              margin-right: 5px;
            }
          }
        }
      }

      .close {
        font-size: 20px;
        color: #989898;
        cursor: pointer;
      }
    }

    .lyrics-bar-content {
      position: absolute;
      left: 0;
      top: 41px;
      width: 976px;
      height: 260px;
      overflow: hidden;
      background-position: -1014px 0;
      background-repeat: repeat-y;
      padding: 0 5px;
      color: #ccc;
      display: flex;

      .content-left {
        height: 260px;
        width: 553px;
        overflow: hidden;
        padding: 10px 0;

        .song-item {
          display: flex;
          align-items: center;
          color: #666;
          padding-left: 8px;

          &:hover {
             .opt span {
              opacity: 1;
            }
            background: #000;
          }
  
          .arrow {
            width: 10px;
            height: 13px;
            background-position: -182px 0;
            margin-right: 10px;
            opacity: 0;

            &.active {
              opacity: 1;
            }
          }

          .song-name {
            width: 256px;
            color: #ccc;
          }

          .opt {
            margin-right: 10px;
            
            > span {
              opacity: 0;
              display: inline-block;
              margin: 7px 0 0 10px;
              text-indent: -9999px;
              height: 16px;
              cursor: pointer;
            }

            .icon-add {
              width: 16px;
              background-position: -24px 0;
            }

            .icon-share {
              width: 14px;
              background-position: 0 0;
            }

            .icon-download {
              width: 14px;
              background-position: -57px -50px;
            }
            .icon-del {
              width: 13px;
              background-position: -51px 0;
            }
          }

          .singer-name {
            width: 70px;
            padding-right: 10px;
            height: 28px;
            line-height: 28px;
            
          }
        }
      }

      .content-right {
        flex: 1;
        background: #121212;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        overflow: scroll;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
          display: none;
        }
        .lyric-item {
          text-align: center;
          color: #989898;
          word-wrap: break-word;
          text-align: center;
          line-height: 32px;
          height: auto !important;
          height: 32px;
          min-height: 32px;
          -webkit-transition: color 0.7s linear;
          -moz-transition: color 0.7s linear;
          -o-transition: color 0.7s linear;
          transition: color 0.7s linear;

          &.active {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
  }
}